@use '../../../shared/styles/input-field' as *;

.input-container {
  position: relative;
  width: 100%;
}

.input {
  @include input-field-base;

  &.md {
    @include input-field-md;
  }

  &.sm {
    @include input-field-sm;
  }

  @include input-field-states;

  // Extra right padding to prevent typed text from running under the toggle button
  &.with-toggle {
    padding-right: 40px;
  }
}

.toggle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--primitive-grey-400); // TODO need a semantic token for this + width of toggle area
}
