.menu-item {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 100%;
  background-color: var(--semantic-menu-item-bg-default);
  border-bottom: 1px solid var(--semantic-menu-item-border-default);
  cursor: pointer;
  text-align: left;

  &.selected {
    background-color: var(--semantic-menu-item-bg-active);
    border-bottom-color: var(--semantic-menu-item-border-active);

    .label {
      color: var(--semantic-menu-item-text-active);
      font-weight: 600;
    }
  }

  &:hover {
    background-color: var(--semantic-menu-item-bg-hover);
    border-bottom-color: var(--semantic-menu-item-border-hover);

    .label {
      color: var(--semantic-menu-item-text-hover);
      font-weight: 600;
    }
  }
}

.label {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: var(--semantic-menu-item-text-default);
  text-wrap: nowrap;
}
