@use '../../../styles/breakpoints.scss' as *;

.title-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: 'Open Sans', sans-serif;

  .title {
    margin: 0;
    font-size: var(--semantic-title-text-size-mobile);
  }

  .description {
    margin: 0;
    font-size: var(--semantic-title-desc-text-size-mobile);
  }

  @include above-mobile {
    gap: 16px;

    .title {
      font-size: var(--semantic-title-text-size-desktop);
    }

    .description {
      font-size: var(--semantic-title-desc-text-size-desktop);
    }
  }
}

.left { 
  text-align: left; 
}
.center { 
  text-align: center; 
}