:root {
  --primitive-light-blue-200: #e3edff;
  --primitive-light-blue-300: #c5d0e3;
  --primitive-blue-200: #c4d7f7;
  --primitive-blue-400: #075aef;
  --primitive-blue-500: #004cd5;
  --primitive-blue-600: #013fb0;
  --primitive-periwinkle-500: #631def;
  --primitive-periwinkle-600: #481ca0;
  --primitive-black: #000000;
  --primitive-grey-50: #efefef;
  --primitive-grey-100: #dfdfdf;
  --primitive-grey-400: #a3a2a2;
  --primitive-grey-500: #8f8f8f;
  --primitive-grey-800: #535353;
  --primitive-red-100: #f2dbdb;
  --primitive-red-300: #c40000;
  --primitive-red-500: #970000;
  --primitive-red-700: #630000;
  --primitive-white: #ffffff;
  --primitive-yellow-300: #f2e3ac;
  --primitive-yellow-800: #bc8000;
  --primitive-green-200: #caf0d1;
  --primitive-green-600: #007a14;

  --semantic-page-bg: var(--primitive-light-blue-200);
  --semantic-line-hover: var(--primitive-periwinkle-500);
  --semantic-line-active: var(--primitive-periwinkle-600);
  --semantic-line-default: var(--primitive-black);
  --semantic-line-error: var(--primitive-red-300);
  --semantic-line-secondary: var(--primitive-grey-100);
  --semantic-bg-default: var(--primitive-blue-400);
  --semantic-bg-hover: var(--primitive-blue-500);
  --semantic-bg-active: var(--primitive-blue-600);
  --semantic-bg-white: var(--primitive-white);
  --semantic-bg-disabled: var(--primitive-grey-100);
  --semantic-button-primary-bg-default: var(--primitive-blue-400);
  --semantic-button-primary-bg-hover: var(--primitive-blue-500);
  --semantic-button-primary-bg-active: var(--primitive-blue-600);
  --semantic-button-primary-bg-disabled: var(--primitive-grey-400);
  --semantic-button-primary-text: var(--primitive-white);
  --semantic-button-secondary-line-disabled: var(--primitive-grey-500);
  --semantic-button-secondary-line-default: var(--primitive-blue-400);
  --semantic-button-secondary-line-hover: var(--primitive-blue-500);
  --semantic-button-secondary-line-active: var(--primitive-blue-600);
  --semantic-button-secondary-bg: var(--primitive-white);
  --semantic-button-secondary-bg-disabled: var(--primitive-grey-100);
  --semantic-button-focus-ring: var(--primitive-periwinkle-500);
  --semantic-button-mobile-text-size-md: 24px;
  --semantic-button-mobile-text-size-sm: 18px;
  --semantic-button-desktop-text-size-md: 28px;
  --semantic-button-desktop-text-size-sm: 20px;
  --semantic-text-primary: var(--primitive-black);
  --semantic-text-secondary: var(--primitive-grey-400);
  --semantic-text-error: var(--primitive-red-300);
  --semantic-icon-destructive-default: var(--primitive-red-300);
  --semantic-icon-destructive-hover: var(--primitive-red-500);
  --semantic-icon-destructive-active: var(--primitive-red-700);
  --semantic-header-bg: var(--primitive-light-blue-300);
  --semantic-header-icon: var(--primitive-black);
  --semantic-alert-error-line: var(--primitive-red-300);
  --semantic-alert-error-bg: var(--primitive-red-100);
  --semantic-alert-warning-line: var(--primitive-yellow-800);
  --semantic-alert-warning-bg: var(--primitive-yellow-300);
  --semantic-alert-info-line: var(--primitive-blue-400);
  --semantic-alert-info-bg: var(--primitive-blue-200);
  --semantic-alert-success-line: var(--primitive-green-600);
  --semantic-alert-success-bg: var(--primitive-green-200);
  --semantic-link-default: var(--primitive-blue-400);
  --semantic-link-hover: var(--primitive-blue-500);
  --semantic-link-active: var(--primitive-blue-600);
  --semantic-border-primary: var(--primitive-grey-500);
  --semantic-pill-neutral-bg: var(--primitive-grey-100);
  --semantic-pill-neutral-border: var(--primitive-grey-500);
  --semantic-pill-neutral-text: var(--primitive-grey-800);
  --semantic-menu-item-bg-default: var(--primitive-white);
  --semantic-menu-item-bg-hover: var(--primitive-blue-500);
  --semantic-menu-item-bg-active: var(--primitive-blue-600);
  --semantic-menu-item-text-default: var(--primitive-black);
  --semantic-menu-item-text-hover: var(--primitive-white);
  --semantic-menu-item-text-active: var(--primitive-white);
  --semantic-menu-item-border-default: var(--primitive-grey-50);
  --semantic-menu-item-border-hover: var(--primitive-blue-500);
  --semantic-menu-item-border-active: var(--primitive-periwinkle-600);
  --semantic-selector-card-line-default: var(--primitive-black);
  --semantic-selector-card-line-hover: var(--primitive-periwinkle-500);
  --semantic-selector-card-line-active: var(--primitive-periwinkle-600);
  --semantic-selector-card-bg: var(--primitive-white);
  --semantic-input-label: var(--primitive-black);
  --semantic-input-placeholder: var(--primitive-grey-400);
  --semantic-input-desc: var(--primitive-grey-400);
  --semantic-input-border-focus: var(--primitive-periwinkle-500);
  --semantic-input-border-error: var(--primitive-red-300);
  --semantic-input-border-default-md: var(--primitive-black);
  --semantic-input-border-default-sm: var(--primitive-grey-500);
  --semantic-input-error: var(--primitive-red-300);
  --semantic-input-bg: var(--primitive-white);
  --semantic-input-bg-disabled: var(--primitive-grey-100);
  --semantic-title-text-size-desktop: 48px;
  --semantic-title-text-size-mobile: 32px;
  --semantic-title-desc-text-size-mobile: 20px;
  --semantic-title-desc-text-size-desktop: 24px;
}